.image-box {
  background-color: white;
  width: max-content;
  height: min-content;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 3rem;
  margin: auto;
}

.image-field {
  width: fit-content;
  height: fit-content;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

@mixin card-box-shadow($cardType) {
  $color: white;
  @if $cardType == "common" {
    $color: rgba(98, 213, 108, 0.75);
  } @else if $cardType == "uncommon" {
    $color: rgba(183, 195, 46, 0.75);
  } @else if $cardType == "rare" {
    $color: rgba(98, 152, 213, 0.903);
  } @else if $cardType == "mythic-rare" {
    $color: rgba(37, 30, 113, 0.75);
  } @else if $cardType == "special" {
    $color: rgba(251, 4, 242, 0.75);
  } @else if $cardType == "basic-land" {
    $color: rgba(251, 14, 14, 0.75);
  }
  box-shadow: 3px 2px 56px 49px $color;
  -webkit-box-shadow: 3px 2px 56px 49px $color;
  -moz-box-shadow: 3px 2px 56px 49px $color;
}

.magicCard-common {
  @include card-box-shadow("common");
}

.magicCard-uncommon {
  @include card-box-shadow("uncommon");
}

.magicCard-rare {
  @include card-box-shadow("rare");
}

.magicCard-mythic-rare {
  @include card-box-shadow("mythic-rare");
}

.magicCard-special {
  @include card-box-shadow("special");
}

.magicCard-basic-land {
  @include card-box-shadow("basic-land");
}

.detailsBox-light {
  color: black;
  opacity: 100;
}

.detailsBox-dark {
  color: white;
}
